@model TaskManager.Models.Projects

@{
    ViewData["Title"] = "Create";
}

<h4 class="px-4">Create Project</h4>
<hr />
<div class="px-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="ProjectName" class="form-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="spoc" class="form-label"></label>
                <select asp-for="spoc" class ="form-control" asp-items="ViewBag.spoc"></select>
            </div>
            <div class="mb-3">
                <label asp-for="CustomerID" class="form-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
