@model TaskManager.Models.Projects

@{
    ViewData["Title"] = "Edit";
}

<h4 class="px-4">Edit Project</h4>
<hr />
<div class="px-4">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="ProjectName" class="form-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="spoc" class="form-label"></label>
                <select asp-for="spoc" class="form-control" asp-items="ViewBag.spoc"></select>
                <span asp-validation-for="spoc" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CustomerID" class="form-label"></label>
                <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            @*<div class="mb-3">
                <label asp-for="CreatedBy" class="form-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CreatedDate" class="form-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>*@
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary" >Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
